<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

    <head>
        <title>My creation </title>
        <vtex:metaTags/>
        <vtex:template id="abi-styles" />
    </head>

    <body>
        <vtex:template id="abi-top-nav"/>
        <vtex:template id="abi-header"/>
        <vtex:template id="abi-header-bottom"/>
        <vtex:template id="abi-product-registration"/>
        <vtex:template id="abi-footer"/>
    </body>
</html>
<!--  the URl https://vtexmex.vtexcommercestable.com.br/?lid=0b1d2a7d-6ec5-436e-b320-6ddafe71a5c0 -->
